header {
	width: 100%;
	padding: 1% 0;
	position: fixed;
	z-index: 1;

	.wrapper {
		max-width: 100%;
		width: 100%;

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;
	
			.horizontal-line {
				text-indent: -9999px;
				width: 40%;
				height: 1px;
				background-color: #FFF;
			}

			li:nth-child(2) {	
				width: 7%;
				margin: 0 2%;
			}
		}
	}
}


@media only screen and (max-width: 995px) {
	header .wrapper ul {

		.horizontal-line { width: 35%; }

		li:nth-child(2) { 
			width: 10%;
			margin: 0 4%;
		}
	}
}

@media only screen and (max-width: 540px) {
	header {
		padding: 4% 0;
		
		.wrapper ul {

			.horizontal-line { display: none; }

			li:nth-child(2) { 
				width: 15%;
				margin: 0 4%;
			}
		}
	}
}